/* Root */
:root{
    --white:#Ffffff;
    --texts:#1b1b1b;
    --raisi-black:#242124 ;
    --green:#66ff00 ;
    --grey:#a9a9a9;
    --ghost-white:#f8f8ff ;
}
/* Main */
main{
    font-size:1.3em;
    line-height: 1.3em;
    padding:80px;

}
/* Header */
header{
    background-color:var(--grey);
    height:50px;
    padding: 5px;
    position:fixed;
    width: 100%;
    top:0;
    border-bottom:var(--grey) solid  2px;
}

header nav{
    float:right;
    overflow:hidden;
}

header nav a{
    display:inline-block;
    color:var(--raisi-black);
    font-family: Arial;
    font-weight:bold;
    transition: 0.4s ease-in-out;
    text-decoration: none;
    font-size: 1.2em;
    padding:0.5em;
}

header nav a:hover{
    color:var(--green);
}


/* Section */
section{
    max-width:1100px;
    width: 50%;
    margin:10px auto;
}

/* Caption */
caption{
    padding:2px
}




/* Body */
body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica;
    background: var(--white);
    color:var(--texts);
}
.background{
    background-image: url("../img/green.jpg");
}

/* Table */
table{
    border-collapse: collapse;
    width: 50%;
    margin:20px auto;
}

/* Th, Td */
th, td{
    border: 1px solid #ddd;
    padding: 8px;

}
/* Tr */
tr:nth-child(even){
    background-color:#D6EEEE;
}

/* showcase */
.showcase{
    width:1200px;
    height:auto;
    margin:auto;
    color:var(--ghost-white);
    position:relative;
    padding:30px 0;
    overflow:hidden;

}
.showcase .introduction{
    padding-left:20px;
    padding-bottom:25px;
    line-height:30px;
    font-family:sans-serif;
    font-size:1.2em;
}
.showcase h1{
    font-family:'Times New Roman';
    font-size:50px;
    padding-left:20px;
    margin-top:9%;
    font-size:3em;
}

